body {
  margin: 0;
  font-family: var(--font-Prata);
}

:root {
  --font-Prata: 'Prata', serif;
  --font-Monserrat: 'Montserrat', sans-serif;
  --color-blue: #6278f7;
  --color-white: #FFFFFF;
  --color-aquamarine: #95FFD4;
}