body {
  margin: 0;
  font-family: var(--font-Prata);
}

:root {
  --font-Prata: 'Prata', serif;
  --font-Monserrat: 'Montserrat', sans-serif;
  --color-blue: #6278f7;
  --color-white: #FFFFFF;
  --color-aquamarine-oscuro: #95FFD4;
  --color-aquamarine-claro: #D9F7E9;
  --color-negro-claro: #212121;
  --color-verde-oscuro: #57C278;


}